*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --white: #FFF;
  --black: #333;
  --blue: #0147AB;
  --gray: #5B5B5B;
  --dark-blue: #002D6B;
  --orange: #FF1D00;
  --light-blue: #E5F3FD;
}