@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

:root{
  --white: #FFF;
  --blue: #0147AB;
  --gray: #5B5B5B;
  --dark-blue: #002D6B;
  --orange: #FF1D00;
}